<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings>
    <add name="myDatabase"
         providerName ="System.Data.SqlClient"
         connectionString ="Integrated Security = SSPI; 
            Initial Catalog=myDatabase; 
            Data Source=localhost" />
    <add name="CreateDatabase"
         providerName ="System.Data.SqlClient"
         connectionString ="Server=localhost;Integrated security=SSPI;database=master" />
  </connectionStrings>
  
</configuration>